.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px; /* Adjust this value to control vertical offset */
}
  
/* This is the content box of the modal */
.loading-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: #008CBA; */
    color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    /* z-index: 999;           Ensure it's above the overlay */
  }

.wave {
  display: inline-block;
  animation: waveAnimation 1.2s infinite ease-in-out;
}

@keyframes waveAnimation {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
}